appsettings.json
appsettings.Development.json
appsettings.Production.json
secrets.json

# Folders
bin/
obj/
*.pdb
*.exe
*.dll

# Visual Studio files
.vs/
*.suo
*.user
*.csproj.user
*.sln.docstates
*.ide

# NuGet
packages/
project.lock.json
*.nupkg
*.snupkg

# Logs
*.log
logs/

# Test results
TestResults/
node_modules/
